<md-toolbar class="md-table-toolbar md-default" flex>
<div class="md-toolbar-tools" >
  <md-button class="md-default md-raised" aria-label="create" ng-click="addTask($event, selected)" ng-show="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'" >
    ADD TASK
  </md-button>
  <div flex ng-hide="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'">Your task list for today is</div>
</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default"  flex="100" ng-show="filter.show">
<div class="md-toolbar-tools">
  <form name="filter.form" flex>
    <md-input-container md-no-float class="md-block">
    <md-icon md-svg-icon="../../assets/img/black_search24.svg"></md-icon>
    <input type="text" ng-model="searchText" placeholder="search">
    </md-input-container>
  </form>
  <md-button class="md-icon-button" aria-label="close" ng-click="closeFilter()">
  <md-tooltip md-direction="bottom">
    Close
  </md-tooltip>
  <md-icon md-svg-icon="../../assets/img/black_close24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>

<md-divider></md-divider>
<md-table-container>
  <table md-table md-row-select ng-model="selected2" md-progress="promise" flex>
    <thead md-head md-order="query.order" md-on-reorder="profiles" class="md-head">
      <tr md-row>
        <th md-column ><span>Task name</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="task" md-select-id="task._id" md-auto-select ng-repeat="task in tasks" ng-cloak>
        <td md-cell>{{task.taskname}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-toolbar class="md-table-toolbar md-default" flex="100" ng-show="selected2.length">
<div class="md-toolbar-tools" layout="row" layout-align="end center">
  <md-button class="md-default md-raised" aria-label="unassign" ng-click="removeTask($event, selected2)" ng-show="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'">
    DELETE TASK
  </md-button>
  <md-button class="md-default md-raised" aria-label="unassign" ng-click="openProfile2(selected2)">
    VIEW TASK
  </md-button>
</div>
</md-toolbar>
