<div class="anim-slide-below-fade" data-anim-speed="500">
<md-content flex layout-padding layout-fill style="background-color: transparent !important; overflow: hidden !important;">
  <div layout="column"  flex>
    <div layout="row" layout-align="center center" layout-padding layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 10px;" ng-cloak>
      <h1 hide-xs style="font-weight: normal;" layout="row" layout-fill layout-align ="center center">Welcome Back! </h1>
      <h3 hide-xs style="font-weight: normal;" layout="row" layout-fill layout-align ="center center">Ready to dive in? Select a task to get started </h3>
      <md-card  ng-repeat="project in projects" ng-click="projected(project._id)"  class="card-1"  flex-gt-sm="50" flex-gt-md="30" layout-wrap layout-fill style="margin: 10px 10px 0 0;" ng-if="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInProject == project._id">
        <md-card-title>
          <md-card-title-text>
            <a href="#" layout="column" layout-align="start start" ng-click="projected(project._id)">
            <span class="md-headline">{{project.project_name}}</span>
            <span class="md-subhead">{{project.field}}</span>
          </a>
          </md-card-title-text>
        </md-card-title>
        <a href="#" ng-click="projected(project._id)">
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-click="projected(project._id)" aria-label="Apps">
            <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </a>
      </md-card>
      <!-- <md-card ng-click="redirect(userapp.appName)" class="card-1" ng-repeat="userapp in userapps" flex-gt-sm="50" flex-gt-md="25" layout-wrap layout-fill style="margin: 10px 10px 0 0;" layout-align="center center">
        <img ng-src="{{userapp.appLoc}}" alt="{{userapp.appName}}" style="width: 48px !important; height: 48px !important;">
        <md-card-actions layout="row" layout-align="end center">
          <span class="md-headline">{{userapp.appName}}</span>
        </md-card-actions>
      </md-card> -->
    </div>
  </div>
</md-content>

<div ng-cloak ng-show="$root.userLoggedInRole == 'superadmin'">
<md-fab-speed-dial ng-hide="demo.hidden" md-direction="up" md-scale md-open="demo.isOpen"
                       class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': demo.hover }"
                       ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false" ng-cloak style="position: fixed !important;">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-accent">
          <md-tooltip md-direction="left" md-visible="tooltipVisible">Add</md-tooltip>
          <md-icon md-svg-src="../../assets/img/white_add24.svg" aria-label="add"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <div ng-repeat="item in items">
          <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini md-accent"
                     ng-click="openDialog($event, item)">
            <md-tooltip md-direction="left" md-visible="tooltipVisible"
                        md-autohide="false">
              New Project
            </md-tooltip>
            <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
          </md-button>
        </div>
      </md-fab-actions>
</md-fab-speed-dial>
</div>
</div>



<!-- /content -->

<!-- footer -->

<!-- / footer -->
