<md-dialog style="opacity: 1 !important;" aria-label="Create a new user">
  <form name="createuserForm" layout="column" layout-align="start center" layout-fill>
    <md-dialog-content layout-wrap layout-fill layout-padding flex>
    <div layout="row" flex>
      <h2 style="font-weight:normal" ng-hide="createdNow">Verify email </h2>
      <h2 style="font-weight:normal" ng-if="done">Sending</h2>
      <h2 style="font-weight:normal" ng-if="createdNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Verification link sent</h2>
      <span flex></span>
    </div>
    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>
    <!-- end here -->
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center" layout-fill >
      <!-- hide these -->
      <md-button type="submit" ng-click="removeNow()" ng-hide="createdNow" class="md-primary">
        SEND LINK
      </md-button>
      <!-- end hide -->
    </md-dialog-actions>
  </form>
</md-dialog>
