
<span ng-repeat="task in tasks track by $index" ng-cloak>
<md-subheader class="md-no-sticky" ng-hide="$root.userLoggedInRole == 'superadmin'">Toggle the switch to mark as read</md-subheader>
<md-list-item layout="row" layout-align="start start" layout-wrap ng-repeat="reading in task.readingList" ng-click="null" ng-hide="doneSearching">
  <div layout="column" layout-align="start start"  flex-gt-md="100" flex="100" flex-gt-xs="100" layout-padding >
    <h5 style="margin-top: 0 !important; margin-bottom: 0 !important; color: #555; padding-bottom: 0 !important;" ng-if="reading.readingTitle">{{reading.readingTitle}}
    <span ng-repeat="user in users track by $index">
      <span ng-repeat="list in user.readingList track by $index" ng-if="reading.link && (reading.readingTitle == list.readingTitle)"> (completed)</span>
    </span>
    </h5>
  </div>
  <div layout="row" layout-align="start start" layout-padding layout-wrap >
  <h3 style="margin-top: 0 !important; margin-bottom: 0 !important; color: #555; font-weight: normal !important; padding-top: 0 !important;" ng-hide="reading.readingTitle">No reading lists yet. </h3>
</div>
<a href="{{reading.link}}" target="_blank" ng-if="reading.link">
<md-button class="md-primary" md-no-ink aria-label="create" ng-hide="$root.userLoggedInRole == 'superadmin'">
  Start reading
</md-button>
</a>
<md-button class="md-primary" md-no-ink aria-label="create" ng-if="$root.userLoggedInRole == 'superadmin'" ng-click="deleteNew(reading)">
  Delete
</md-button>

<md-switch  ng-hide="$root.userLoggedInRole == 'superadmin'" ng-if="reading.link" aria-label="readingSwitch" class="md-accent"  ng-model="enabled[$index]"  ng-change="markRead(reading.readingTitle)"></md-switch>
</md-list-item>
<md-progress-linear md-mode="indeterminate" flex ng-show="doneSearching"></md-progress-linear>
<div layout="row">
  <md-button class="md-primary" md-no-ink aria-label="create" ng-click="newReading(task._id)" ng-if="$root.userLoggedInRole == 'superadmin'">
    Add new reading
  </md-button>
</div>
</span>





<!-- <md-divider></md-divider>-->
